.blog {
  display: grid;
  // grid-template-columns: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  --spacer: 2em;
}

.article {
  max-width: 20rem;
  margin: 0 auto;

  img {
    height: 12.5rem;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  a {
    color: var(--clr-primary-blue);
    text-decoration: none;
    transition: color 250ms ease-in-out;
  }

  a:hover,
  a:focus {
    color: var(--clr-primary-green);
  }

  .info {
    padding: 2.2em;
    --flow-spacer: 0.6em;
    background-color: var(--clr-neutral-100);
  }

  .writer {
    font-size: var(--fs-200);
  }

  p {
    font-size: 0.8rem;
    color: var(--clr-neutral-400);
  }
}
