.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: relative; // will mess the mobile nav up the margins wont work properly

  // @media (max-width: 49.9em) {
  //   .overlay {
  //     position: absolute;
  //     // display: none;
  //     top: 100%;
  //     bottom: 0;
  //     left: 0;
  //     right: 0;
  //     width: 100vw;
  //     height: 100vh;
  //     background: var(--overlay-gradient);

  //     //   @media (min-width: 50em) {
  //     //     position: relative;
  //     //     top: 0;
  //     //     height: 0;
  //     //     width: 0;
  //     //   }
  //   }
  // }

  .overlay {
    position: absolute;
    display: none; // use javascript to hide this make a class to toggle on this element in html example show
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: var(--overlay-gradient);

    @media (min-width: 50em) {
      position: static; //dont need to change top,bottom,right,left because static position can't manipulate positon
      display: block;
      height: auto;
      width: auto;
    }
  }

  .nav-list {
    --flow-spacer: 1rem;
    background-color: var(--clr-neutral-100);
    margin: 1.5rem;
    padding: 2em 0;

    @media (min-width: 50em) {
      --flow-spacer: 0;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      > * + * {
        margin-left: 1em;
      }
    }
  }

  .nav-list a {
    position: relative;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--clr-neutral-400);

    @media (min-width: 50em) {
      transition: color 250ms ease-in-out, border 250ms ease-in-out;
      padding-bottom: 0.7em;
      border-bottom: 2px solid transparent;

      &:hover {
        color: #000;
        border-bottom: 2px solid var(--clr-primary-green);
      }
    }
  }

  .toggle-menu {
    cursor: pointer;
    //   padding: .5em;
    @media (min-width: 50em) {
      display: none;
    }
  }
}
