.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.1rem;

  .overlay {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: calc(100vh - 6em);
    background: var(--overlay-gradient);
    // animations
    z-index: -2;
    transform: translateY(-100%);
    transition: transform 450ms ease-in-out;

    @media (min-width: 50em) {
      position: static; //dont need to change top,bottom,right,left because static position can't manipulate positon
      height: auto;
      width: auto;
      // animations
      z-index: auto;
      transform: translateY(0);
    }
  }

  //  Navigation toggle with javascript

  .overlay.show {
    // animations
    display: block;
    transform: translateY(0);
    // z-index: auto;
  }

  .hamburger-icon.hidden {
    display: none;
  }

  .close-icon.hidden {
    display: none;
  }

  .nav-list {
    --flow-spacer: 1rem;
    background-color: var(--clr-neutral-100);
    margin: 1.5rem;
    padding: 2em 0;

    @media (min-width: 50em) {
      --flow-spacer: 0;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      > * + * {
        margin-left: 1.5em;
      }
    }
  }

  .nav-list a {
    font-size: 1.1rem;
    text-decoration: none;
    padding-bottom: 0.5em;
    border-bottom: 2px solid transparent;
    transition: color, border 250ms ease-in-out;

    &:hover,
    &:focus {
      color: #000;
      border-bottom: 2px solid var(--clr-primary-green);
    }

    @media (min-width: 50em) {
      font-size: var(--fs-300);
      padding-bottom: 2.3em;
    }
  }

  .toggle-menu {
    cursor: pointer;
    padding: 0.5em;
    @media (min-width: 50em) {
      display: none;
    }
  }
}
