:root {
  --clr-primary-blue: hsl(233, 26%, 24%);
  --clr-primary-green: hsl(136, 65%, 51%);
  --clr-primary-cyan: hsl(192, 70%, 51%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-300: hsl(220, 16%, 96%);
  --clr-neutral-400: hsl(233, 8%, 62%);


  --ff-primary: "Public Sans", sans-serif;

  --fs-200: 0.6rem;
  --fs-300: 0.95rem; // also on the footer-nav
//   --fs-400: 1.125rem; desktop
  --fs-400: .9rem; //mobile font-size 
  --fs-500: 1.2rem;
  --fs-600: 1.95rem;
  --fs-700: 2.4rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --primary-gradient: linear-gradient(to right, var(--clr-primary-green), var(--clr-primary-cyan));
  --overlay-gradient: linear-gradient(to bottom, rgb(45, 49, 77,.9), 50%,rgb(45, 49, 77,.3), 90%,rgb(45, 49, 77,.05));
  --max-width: 70rem;
}
