section {
  padding: 4.6rem 0;

  @media (min-width: 50em) {
    padding: 6rem 0;
  }
}

.primary-header {
  padding: 1.5rem 0;
  background-color: var(--clr-neutral-100);
  position: relative;
  z-index: 999;
  width: 100%;

  // Created this so that i could use stacking context of primary-header. I used z-index to mainpulate the way the ovelay will go under the header but it will stay on top of the header but will go under the ::before because the z-index is lower the ::before but can go under the parent which is the primary-header
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--clr-neutral-100);
    z-index: -1;
  }

  .btn {
    display: none;
    @media (min-width: 50em) {
      display: inline-block;
    }
  }
}

.hero {
  background-color: var(--clr-neutral-200);
  padding-top: 0;
  // animations will always be lower than primary-header but will always stack above info section
  position: relative;
  z-index: 1;

  .mockup {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg"); // the original of what the mobile view was
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 17.5rem;

    @media (min-width: 40em) {
      min-height: 25rem;
      background-position: center 70%;
    }

    @media (min-width: 62em) {
      height: 41rem;
      background-image: none;
    }
  }

  @media (min-width: 62em) {
    margin-top: 0;
    padding: 0;

    .mockup::before {
      content: "";
      position: absolute;
      height: 100%;
      background-image: url("/images/bg-intro-desktop.svg");
      background-repeat: no-repeat;
      background-size: 123%;
      width: 165%;
      background-position: 0% 70%;
    }
  }

  .mockup::after {
    content: "";
    display: block; // need this so image can be center aligned
    position: absolute;
    background-image: url("/images/image-mockups.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 93%;
    height: 100%;
    width: 100%;

    @media (min-width: 40em) {
      background-size: 52%;
    }

    @media (min-width: 62em) {
      background-position: center 107%;
      background-size: 94%;
      width: 120%;
      height: 122%;
      left: 28%;
    }
  }
}

.info {
  background-color: var(--clr-neutral-300);

  @media (min-width: 50em) {
    header > p {
      max-width: 62ch;
    }
    --flow-spacer: 1.5em;
  }
}

.articles {
  background-color: var(--clr-neutral-200);
}
