section {
  padding: 4.6rem 0;

  @media (min-width: 50em) {
    padding: 6rem 0;
  }
}

.primary-header {
  padding: 1.5rem 0;
  background-color: var(--clr-neutral-100);
  position: relative;
  z-index: 999;
  width: 100%;

  .btn {
    display: none;
    @media(min-width: 50em) {
      display: inline-block;
    }
  }

  // [data-menu="hidden"] {
  //   display: none;
  // }

  // [data-menu="visible"] {
  //   display: block;
  // }

}

.hero {
  background-color: var(--clr-neutral-200);
  padding-top: 0;
  margin-top: -4rem;
  // height: 75vh;
  // background-image: url("/images/bg-intro-mobile.svg"); // the original of what the mobile view was
  background-repeat: no-repeat;
  background-size: contain;
  // position: relative;
  // z-index: 1;

  .mockup {
    transform: translateY(-3rem);
  }

  .description {
    transform: translateY(-1rem);
  }

   @media (min-width: 50em) {
     position: relative;
      margin-top: 0;
    // background-image:url("/images/bg-intro-desktop.svg");
    // background-size: contain;
    // background-position: top -8rem right -15rem;
    // background-repeat: no-repeat;



    // &::after {
    //   content: "";
    //   position: absolute;
    //   background-image: url("/images/bg-intro-desktop.svg");
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   height: 60rem;
    //   width: 50%;
    //   top: -10em;
    //   right: 0;
    //   bottom: 0;
    //   z-index: -1;
    //   // transform: translateX(20%);
    // }

    .mockup {
      transform: translateY(0);
      height: 30rem;
    }
  
    .description {
      align-self: center;
      transform: translateY(0);
    }
  }
}

.info {
  background-color: var(--clr-neutral-300);

  @media (min-width: 50em) {
    header > p {
      max-width: 62ch;
    }
    --flow-spacer: 1.5em;
  }
}

.articles {
  background-color: var(--clr-neutral-200);
}
